{% extends 'base3.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block main %}
<div class="main-content" >
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card">
    <h1>Materiel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdMateriel</th>
                <td>{{ materiel.idMateriel }}</td>
            </tr>
            <tr>
                <th>NomTerrain</th>
                <td>{{ materiel.nomTerrain }}</td>
            </tr>
            <tr>
                <th>TypeMat</th>
                <td>{{ materiel.typeMat }}</td>
            </tr>
            <tr>
                <th>QuantMat</th>
                <td>{{ materiel.quantMat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('materiel_index') }}"class="btn-outline-info">back to list</a>

    <a href="{{ path('materiel_edit', {'idMateriel': materiel.idMateriel}) }}"class="btn-outline-info">edit</a>

    {{ include('materiel/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
