{% extends 'base2.html.twig' %}

{% block title %}Produit Front{% endblock %}

 {% block section1 %}

     <section class="best-sell b1 home8">
         <div class="container">
             <div class="row">
                 <div class="col-lg-9  order-lg-2 list_grid_view">
                     <div class="inner-block-a1 a2 block-a1">
                         <div class="best-info bestsell-block">
                             <div class="controls">
                                 <div class="S-cate">
                                     <label>Nos Produits :</label>
                                 </div>

                             </div>
                             <div class="best-grid">
                                 <div class="best_grid_block"><a href="#" class="grid-btn active"><i class="flaticon-menu"></i></a>
                                 </div>
                                 <p>Affichage du total de 1 à 4</p>
                             </div>

                         </div>
                     </div>
                     <div class="clearfix"></div>
                     <div class="row">
                         <div id="Container" class="custom-container">
                             <div class="mix category-1">
                                    {% for produit in produits %}
                                        <div class="block-stl1 grid-block  grid-info-block">
                                            <div class="img-holder">
                                                <div class="img-holder">
                                                    <a href="{{ path('front') }}"  >  <img src="/images/products/{{ produit.path }}" alt="" class="img-fluid"></a>

                                                </div>
                                            </div>
                                            <div class="text-block">
                                                <div class="btn-sec">
                                                    <div class="btn-sec-a">
                                                        <a href="product_single.html"><i class="flaticon-eye"></i></a>

                                                        <a href="{{ path('cart_add', {'idProduit': produit.idProduit}) }}" class=class="btn1">addtopanier</a>
                                                        <a href="#"><i class="flaticon-like"></i></a>
                                                    </div>
                                                </div>
                                                <div class="h-pd">
                                                    <a>{{ produit.nomProduit }}</a> <br>
                                                    <span class="product-prix"> {{ produit.prix }} Dt</span>
                                                    <p><i class="flaticon-star"></i>
                                                        <i class="flaticon-star"></i>
                                                        <i class="flaticon-star"></i>
                                                        <i class="flaticon-star"></i>
                                                        <i class="flaticon-star-1"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                             {% endfor %}

                             </div>
                         </div>
                     </div>
                     <div class="product-page p1">
                         <div class="page-info">
                             <a class="navigation">{{ knp_pagination_render(produits) }}</a>
                         </div>
                     </div>
                 </div>


                 <div class="col-lg-3  order-lg-1">
                     <div class="categories">
                         <div class="select-categories">
                             <h2>categories</h2>
                         </div>
                         {% include 'produit/filtre.html.twig' with {form: form } only %}
                     </div>
                     <!--categories-->

                 </div>
             </div>
         </div>
     </section>


 {% endblock %}
