
{% extends 'baseadmin.html.twig' %}

{% block title %}User index{% endblock %}

     {% block main %}

         <div class="main-content">
             <section class="section">



                 <div class="row">
                     <div class="col-12">
                         <div class="card">
                             <div class="card-header">
                                 <h4>User</h4>
                                 <div class="card-header-form">
                                     <form>
                                         <div class="input-group">

                                             <script src="{{ asset('jquery.min.js') }}"></script>
                                             <input type="text" id="search" class="form-control" placeholder="Search">
                                             <div class="input-group-btn">
                                                 <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                                 <a href="{{ path('user_new') }}"class="badge badge-success">Ajouter</a>
                                             </div>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                             <div class="card-body p-0">
                                 <div class="table-responsive">
                                     <table id="tableac" class="table table-striped">
                                         <tr>
                                             <th>Id</th>
                                             <th>Nom</th>
                                             <th>Prenom</th>
                                             <th>Email</th>
                                             <th>Mdp</th>
                                             <th>Adresse</th>
                                             <th>Age</th>
                                             <th>Genre</th>
                                             <th>NbTerrain</th>
                                             <th>Role</th>
                                             <th>actions</th>
                                         </tr>
                                         <tr>
<tbody>
                                             {% for user in users %}
                                         <tr>
                                             <td>{{ user.id }}</td>
                                             <td>{{ user.nom }}</td>
                                             <td>{{ user.prenom }}</td>
                                             <td>{{ user.email }}</td>
                                             <td>{{ user.mdp }}</td>
                                             <td>{{ user.adresse }}</td>
                                             <td>{{ user.age }}</td>
                                             <td>{{ user.genre }}</td>
                                             <td>{{ user.nbTerrain }}</td>
                                             <td>{{ user.role }}</td>
                                             <td>
                                                 <a href="{{ path('user_show', {'id': user.id}) }}"class="badge badge-info">Afficher</a>
                                                 <a href="{{ path('user_edit', {'id': user.id}) }}"class="badge badge-warning">Editer</a>
                                                 <a href="{{ path('user_im', {'id': user.id})  }}"class="badge badge-success">imprimer</a>
                                             </td>
                                         </tr>
                                         {% else %}
                                             <tr>
                                                 <td colspan="11">no records found</td>
                                             </tr>
                                         {% endfor %}

                                         <script>
                                             $(document).ready(function(){
                                                 $('#search').keyup(function(){
                                                     search_table($(this).val());
                                                 });
                                                 function search_table(value){
                                                     $('#tableac tbody tr').each(function(){
                                                         var found = 'false';
                                                         $(this).each(function(){
                                                             if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                                             {
                                                                 found = 'true';
                                                             }
                                                         });
                                                         if(found == 'true')
                                                         {
                                                             $(this).show();

                                                         }
                                                         else
                                                         {
                                                             $(this).hide();

                                                         }
                                                     });
                                                 }
                                             });
                                         </script>
                                         {#    <td>
                                        <div class="badge badge-info">Average</div>
                                         </td>
                                         <td><a href="#" class="badge badge-success">Detail</a></td>
                                         <td>
                                             <div class="badge badge-danger">High</div>
                                         </td>
                                     </tr>
                                         #}
</tbody>
                                     </table>
                                   <div style="margin: 0px auto 0px;  display: block;width: 15%;">  {{ knp_pagination_render(users) }} </div>
                                 </div>
                             </div>
                         </div>
                     </div>

                 </div>

                 <!-- Support tickets -->


             </section>
         </div>


     {% endblock %}
