<!DOCTYPE html>
<html lang="en">


<!-- index.html   -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Matchup</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{asset("assets/css/app.min.css")}}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{asset("assets/css/style.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/components.css")}}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{{asset("assets/css/custom.css")}}">
    <link rel='shortcut icon' type='image/x-icon' href="{{asset('assets/img/matchup.png')}}" />
</head>
{% block body %}
    <body>
    {% block section1%}
        <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
                        <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a></li>

                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                                                                 class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>

                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                                            class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{{asset("assets/img/user.png")}}"


                                                                                                             class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello </div>
                            <a href="{{asset("profile")}}" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
                            </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_logout') }}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="{{asset("user")}}"> <img alt="image" src="{{asset("assets/img/matchup.png")}}" class="header-logo" /> <span
                                    class="logo-name">MatchUp</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Main</li>
                        <li class="dropdown active">
                            <a href="{{asset("user")}}" class="nav-link"><i data-feather="monitor"></i><span>users</span></a>
                        </li>




                    </ul>
                </aside>
            </div>
            {% endblock %}
            <!-- Main Content -->
            {% block main %}

            {% endblock  %}
            {% block footer  %}
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="#">Matchup</a></a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
        <script src="{{asset("assets/js/app.min.js")}}"></script>
    <!-- JS Libraies -->
        <script src="{{asset("assets/bundles/apexcharts/apexcharts.min.js")}}"></script>
    <!-- Page Specific JS File -->
        <script src="{{asset("assets/js/page/index.js")}}"></script>
    <!-- Template JS File -->
        <script src="{{asset("assets/js/scripts.js")}}"></script>
    <!-- Custom JS File -->
        <script src="{{asset("assets/js/custom.js")}}"></script>
    {% endblock   %}
    </body>

{% endblock  %}
</html>