<!DOCTYPE html>
<html>


<!-- Mirrored from pixner.net/reloj/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 16:29:24 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>matchup</title>
    <!--favicon-->

    <link rel="shortcut icon" type="image/png" href="{{asset('assets/img/matchup.png')}}" >
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/bootstrap.min.css")}}">
    <!--owl carousel css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/owl.carousel.min.css")}}">
    <!--magnific popup css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/magnific-popup.css")}}">
    <!--fontawesome css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/fontawesome-all.min.css")}}">
    <!--icofont css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/icofont.min.css")}}">
    <!--animate css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/animate.css")}}">
    <!-- swipper css link -->
    <link rel="stylesheet" href="{{asset("assets1/css/swiper.min.css")}}">
    <!--main css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/style.css")}}">
    <!--responsive css-->
    <link rel="stylesheet" type="text/css" href="{{asset("assets1/css/responsive.css")}}">

</head>

<body>
    <!--start preloader-->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell align-middle">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end preloader-->
        <!--start header area-->

        <!--end header area-->
        <!--start home area-->
        <section id="home-area" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <!--start caption-->
                    <div class="col-lg-6 col-md-8">
                        <div class="caption">
                            <h4>See what’s next</h4>
                            <h1>Watch Football <br> & other Live Sports</h1>
                            <h5>Stream the top sports networks and live games from major pro and college leagues, including the NFL, NBA, NCAA football, NHL, EPL soccer, MLB and more.</h5>
                            <div class="caption-btn">
                                <a class="bg" href="#">Start Your Free Trial</a><a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!--end caption-->
                    <!--start video button-->
                    <div class="col-lg-6 col-md-4">
                        <div class="video-ply-btn">
                            <a class="popup-video mfp-iframe" href="https://www.youtube.com/watch?v=RweHgBtknDs&ab_channel=Match-Up">
                            <i class="icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                    <!--end video button-->
                </div>

            </div>
            <div class="home-img">
                <img src="{{asset("assets1/images/home-img.png")}}"  >
            </div>
        </section>
        <!--end home area-->
        <!--start streaming platform-->






    <!-- swipper js -->
    <script src="{{asset("assets1/js/swiper.min.js")}}"></script>
    <!--custom js-->
    <script src="{{asset("assets1/js/custom.js")}}"></script>
    <!--jQuery js-->
    <script src="{{asset("assets1/js/jquery-3.3.1.min.js")}}"></script>
    <!--proper js-->
    <script src="{{asset("assets1/js/popper.min.js")}}"></script>
    <!--bootstrap js-->
    <script src="{{asset("assets1/js/bootstrap.min.js")}}"></script>
    <!--counter js-->
    <script src="{{asset("assets1/js/waypoints.js")}}"></script>
    <script src="{{asset("assets1/js/counterup.min.js")}}"></script>
    <!--ripples js-->
    <script src="{{asset("assets1/js/ripples-min.js")}}"></script>
    <!--typed js-->
    <script src="{{asset("assets1/js/typed.js")}}"></script>
    <!--magnic popup js-->
    <script src="{{asset("assets1/js/magnific-popup.min.js")}}"></script>
    <!--owl carousel js-->
    <script src="{{asset("assets1/js/owl.carousel.min.js")}}"></script>
    <!--scrollIt js-->
    <script src="{{asset("assets1/js/scrollIt.min.js")}}"></script>
    <!--contact js-->
    <script src="{{asset("assets1/js/contact.js")}}"></script>
    <!--validator js-->
    <script src="{{asset("assets1/js/validator.min.js")}}"></script>
    <!-- wow js link -->
    <script src="{{asset("assets1/js/wow.min.js")}}"></script>
    <script src="{{asset("../../../cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js")}}"></script>
    <!-- swipper js -->
    <script src="{{asset("assets1/js/swiper.min.js")}}"></script>
    <!--custom js-->
    <script src="{{asset("assets1/js/custom.js")}}"></script>
</body>


<!-- Mirrored from pixner.net/reloj/demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 16:30:55 GMT -->
</html>
